/* code listing for blog/css/blog.css */
form#editor{
    width: 300px;
    margin-top:10px;
    padding:0px;   
	background-color: #dedede;
}
 
form#editor label, form#editor input[type='text']{
    display:block;
}
 
form#editor #editor-buttons{
    border:none;
    text-align:right;
}
 
form#editor textarea, form#editor input[type='text']{
    width:90%;
    margin-bottom:2em;
}
 
form#editor textarea{
    height:10em;
}
